img{    
    width: 250px;    
    height: 250px;
    border: 1px solid lightpink;
}
nav{
    background-color: lightpink;
}
nav a{
    color: lightslategray;
    font-size: 36px;
    text-decoration: ;
}
